<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://stockupdate20151215033036.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>stockupdate20151215033036.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>StockUpdate20151215033036</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$StockUpdate20151215033036</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="AzureDB" Order="2" Enabled="True">
          <Destination Path="Data Source=bobmack101.database.windows.net;Initial Catalog=EAD_DB_StockUpdate;Persist Security Info=True;User ID=bobmack101;Password=M0sc0w101" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:bobmack101.database.windows.net,1433;AttachDbFilename=|DataDirectory|StockUpdateContext-20151215160703.mdf;Initial Catalog=EAD_DB_StockUpdate;Integrated Security=False;User ID=bobmack101@bobmack101;Password=M0sc0w101;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\AzureDB_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:bobmack101.database.windows.net,1433;Database=EAD_DB_StockUpdate;User ID=bobmack101@bobmack101;Password=M0sc0w101;Trusted_Connection=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;  AttachDbFilename=|DataDirectory|StockUpdateContext-20151215160703.mdf" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="StockUpdate.Models.StockUpdateContext" Order="3" Enabled="True">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="StockUpdate.Models.StockUpdateContext, StockUpdate" MigrationConfiguration="StockUpdate.Migrations.Configuration, StockUpdate" Origin="" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AzureDB-Web.config Connection String">
      <ParameterValue>Data Source=bobmack101.database.windows.net;Initial Catalog=EAD_DB_StockUpdate;Persist Security Info=True;User ID=bobmack101;Password=M0sc0w101</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)StockUpdate.Models.StockUpdateContext-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="StockUpdate.Models.StockUpdateContext" />
  </ItemGroup>
</Project>