<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://stockupdate20151215033036.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>stockupdate20151215033036.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>StockUpdate20151215033036</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$StockUpdate20151215033036</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="StockUpdateContext" Order="3" Enabled="True">
          <Destination Path="Data Source=bobmack101.database.windows.net;Initial Catalog=EAD_DB_StockUpdate;Persist Security Info=True;User ID=bobmack101;Password=M0sc0w101" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="StockUpdate.Models.StockUpdateContext, StockUpdate" MigrationConfiguration="StockUpdate.Migrations.Configuration, StockUpdate" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)StockUpdateContext-Web.config Connection String">
      <ParameterValue>Data Source=bobmack101.database.windows.net;Initial Catalog=EAD_DB_StockUpdate;Persist Security Info=True;User ID=bobmack101;Password=M0sc0w101</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>